<?xml version='1.0' encoding='utf-8'?>
<Server port="8005" shutdown="SHUTDOWN">
    <Service name="Catalina">
        <Connector port="8080" protocol="HTTP/1.1"
                   connectionTimeout="20000"
                   redirectPort="443"
                   URIEncoding='iso8859_1'/>

        <Engine name="Catalina" defaultHost="localhost">

            <Host name="localhost"  appBase="webapps" unpackWARs="true" autoDeploy="true">
                <!--Context path="" docBase="/Users/winterlau/git/coyee-web/webapp" reloadable="false">
                </Context-->
                <Context path="" docBase="/Users/winterlau/git/J2Cache/modules/tomcat-session-manager" reloadable="true">
                    <Manager className="net.oschina.j2cache.tomcat.J2CacheSessionManager" config="j2cache.properties"/>
                </Context>
            </Host>
        </Engine>
    </Service>
</Server>
