<?xml version='1.0' encoding='utf-8'?>
<Server port="8005" shutdown="SHUTDOWN">
    <Service name="Catalina">
        <Connector port="8080" protocol="HTTP/1.1"
                   connectionTimeout="20000"
                   redirectPort="443"
                   URIEncoding='iso8859_1'/>

        <Engine name="Catalina" defaultHost="localhost">

            <Host name="localhost"  appBase="webapps" unpackWARs="true" autoDeploy="true">
                <!--Context path="" docBase="/Users/winterlau/git/coyee-web/webapp" reloadable="false">
                </Context-->
                <Context path="" docBase="/Users/winterlau/git/J2Cache/modules/tomcat-session-manager" reloadable="true">
                    <Manager className="net.oschina.j2cache.tomcat.J2CacheSessionManager"
                             session.timeout="30"
                             redis.mode = "single"
                             redis.channel = "j2cache"
                             redis.cluster_name = "j2cache"
                             redis.hosts = "127.0.0.1:6379"
                             redis.timeout = "2000"
                             redis.password = ""
                             redis.database = "0"

                             redis.maxTotal = "100"
                             redis.maxIdle = "10"
                             redis.maxWaitMillis = "5000"
                             redis.minEvictableIdleTimeMillis = "60000"
                             redis.minIdle = "1"
                             redis.numTestsPerEvictionRun = "10"
                             redis.lifo = "false"
                             redis.softMinEvictableIdleTimeMillis = "10"
                             redis.testOnBorrow = "true"
                             redis.testOnReturn = "false"
                             redis.testWhileIdle = "true"
                             redis.timeBetweenEvictionRunsMillis = "300000"
                             redis.blockWhenExhausted = "false"
                             redis.jmxEnabled = "false"
                    />
                </Context>
            </Host>
        </Engine>
    </Service>
</Server>
